html,
body {
    width: 100%;
    height: 100%;
}
body {
    padding: 0;
    border: 0;
    margin: 0;
    background-image: url(./resources/marauders-map.gif);
    background-color: rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    height: 100%;
    width: auto;
    overflow-y: hidden;
    background-blend-mode: darken;
    position: relative;
    filter: blur(0.9);
}
#user-data{
    display: none;
}
.bookstore-title {
    text-align: center;
    top: 0;
    background-color: #f91313;
    opacity: 0.8;
}
.bookstore-title a {
    color: #fdea2c;
    text-decoration: none;
}
.bookstore-title span {
    font-size: 2em;
    font-weight: 500;
    font-family: 'Lobster', cursive;
}
.bookstore-books{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 8%;
}

.bookstore-books div,
.bookstore-want_to_read-section,
.bookstore-read-section,
.bookstore-reading-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bookstore-search-result{
    margin-top: 2%;
}
.bookstore-search-result img,.bookstore img{
    width: 150px;
    height: 200px;
    padding: 3%;
    background-color: white;
    border-radius: 4%;
}
/* .bookstore-books p,
.bookstore-want_to_read-section p,
.bookstore-read-section p,
.bookstore-reading-section p{ */
p{
    /* text-align: center; */
    color: antiquewhite;
    font-weight: bold;
}
button {
    background-color: rgba(249,19,19, 0.6);
    border: none;
    text-align: center;
    color: #fdea2c;
}
.bookstore {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100px;
}
.bookstore-section-books {
    margin-top: 5%;
}
#bookstore-login {
    display: block;
    /* display: flex;
    justify-content: center; */
    position: absolute;
    left: 30%;
    margin-top: 10%;
}
#bookstore-login input{
    width: 500px;
    height: 30px;
}
#bookstore-login button{
    height: 30px;
}

#bookstore-logout-search {
    display: block;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

#bookstore-logout-search input{
    height: 2.5em;
    width: 50%;
}

.bookstore-want_to_read-books,
.bookstore-read-books,
.bookstore-reading-books,
.bookstore-search-result {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.bookstore-section-books span{
    font-family: 'Lobster';
    color: #fdea2c;
    width: 100%;
    padding: 0% 1%;
}
.section-header{
    width: 100%;
    height: 25px;
    background-color: #f91313;
    opacity: 0.8;
    margin: 1% 0%;
}
/* #search-input:focus  body{
    background-color: rgba(0, 0, 0, 0.4);
} */
